#header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #2a2f73;
    color: white;
    border-radius: 0px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#header > a{
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}
#header > div{
    display: flex;
    flex-direction: row;
}
.searchWrapper{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 25px;
    border: solid 1px white;
    border-radius: 5px;
    padding: 3px;
    margin-right: 5px;
}
#searchBar{
    background-color: #2a2f73;
    color: white;
    border: none;
    outline: none;
}
#searchButton{
    background-color: #2a2f73;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchButton > img{
    width: 16px;
    height: 16px;
}

.HeaderButtons{
    height: 100%;
    display: flex;
    border: none;
}
.AnimeDropdownDiv{
    border-right: 1px solid white;
}
.AnimeDropdown, .MangaDropdown{
    opacity: 0;
    position: absolute;
    min-width: 120px;
    background-color: #2a2f73;
    border: none;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 0;
    pointer-events: none;
    transition: height 0.3s, transform 0.3s, opacity 0.3s;
}
.AnimeDropdown a{
    color: white;
    text-decoration: none;
}
.AnimeDropdown a:hover{
    opacity: 0.5;
}
.MangaDropdown a{
    color: white;
    text-decoration: none;
}
.MangaDropdown a:hover{
    opacity: 0.5;
}
.AnimeButton, .MangaButton{
    height: 100%;
    width: 130px;
    background-color: #2a2f73;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.AnimeButton:hover, .MangaButton:hover{
    opacity: 0.5;

}


.MangaDropdownDiv:hover .MangaDropdown{
    height: 95px;
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
.AnimeDropdownDiv:hover .AnimeDropdown{
    height: 95px;
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.AccountDiv button{
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    padding: 5px;
    transition: all 0.3s;
}
.AccountDiv button:not(:first-child){
    margin-right: 10px;
}
.AccountDiv button:hover{
    background-color: white;
    color: black;
}