body{
    background-color: #171945;
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
}
.dataContainer{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 auto;
}
#searchContainer{
    width: 100%;
    height: 200px;
    padding-bottom: 100px;
}
#container{
    min-width: 1520px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
#result{
    margin-top: 30px;
    color: white;
}
img:not(#click){
    border-radius: 10px;
    size: 100%;
    object-fit: cover;
    width: 120px;
    height: 180px;
    transition: transform .5s;
}
img:hover{
    transform: scale(1.1);

}
p{
    color: white;
}
#search{
    height: auto;
    background: none;
    color: white;
    flex-grow: 2;
    border: none;
}
#search:focus{
    outline: none;
}
#searchButton{
    height: auto;
    background: none;
    border: none;
    width: 30px;
    color: white;  
    cursor: pointer;
}
a{
    color: #7277d8;
}
#site{
    width: 100%;
    min-height: 100%;
    margin-bottom: 100px;
}
#pages{
    border: white solid 2px;
    background-color: #171945;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
    transition: 0.5s;
}
#pages:hover{
    color: black;
    background-color: white;
}
#page_counter{
    display: inline-block;
}
#page_container{
    height: auto;
    font-family: "Roboto", sans-serif;
}

#container > section:not(:first-child){
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; 
}
#container > section > h1{
    color: white;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: left;
}
#container > section > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.optionContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    margin-top: 10px;
}
.optionContainer img{
    margin-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
}
.optionContainer p{
    margin-top: 3px;
}
.moreButton{
    background-color: #3e3e3e;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px;
    width: 25%;
    margin-left: 15px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: all 0.5s;
}
.moreButton:hover{
    background-color: #545ff6;
}
#searchSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 70%;
}
#searchSection div{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 25px;
    border: solid 1px white;
    border-radius: 5px;
    padding: 3px;
    margin: 0 10px;
    background-color: white;
}
#indexSearchBar{
    background-color: white;
    color: black;
    border: none;
    outline: none;
}
#indexSearch{
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#indexSearch img{
    width: 16px;
    height: 16px;
    filter: invert(100%);
}
#searchSection select{
    width: 100px;
    height: 35px;
    display: flex;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
}