body{
    background-color: #171945;
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
}
.dataContainer{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}
#searchContainer{
    width: 100%;
    height: 200px;
    padding-bottom: 100px;
}
#findmeanime{
    margin-top: 60px;
    margin-bottom: 50px;
    color: white;
    font-size: 60px;
    font-weight: bolder;
}
#container{
    min-width: 1520px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
#result{
    margin-top: 30px;
    color: white;
}
img:not(#click){
    border-radius: 10px;
    size: 100%;
    object-fit: cover;
    width: 225px;
    height: 309px;
    transition: transform .5s;
}
img:hover{
    transform: scale(1.1);

}
p{
    color: white;
}
#search{
    height: auto;
    background: none;
    color: white;
    flex-grow: 2;
    border: none;
}
#search:focus{
    outline: none;
}
#searchButton{
    height: auto;
    background: none;
    border: none;
    width: 30px;
    color: white;  
    cursor: pointer;
}
a{
    color: #7277d8;
}
#site{
    width: 100%;
    min-height: 100%;
    margin-bottom: 100px;
}
#pages{
    border: white solid 2px;
    background-color: #171945;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
    transition: 0.5s;
}
#pages:hover{
    color: black;
    background-color: white;
}
#page_counter{
    display: inline-block;
}
#page_container{
    height: auto;
    font-family: "Roboto", sans-serif;
}
#header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #2a2f73;
    color: white;
    border-radius: 0px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header > *{
    margin: 0 10px;
}
.searchWrapper{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    border: solid 1px white;
    border-radius: 10px;
}

.HeaderButtons{
    height: 100%;
    display: flex;
    border: none;
}
.AnimeDropdownDiv{
    border-right: 1px solid white;
}
.AnimeDropdown, .MangaDropdown{
    display: none;
    position: absolute;
    min-width: 120px;
    background-color: #2a2f73;
    border: none;
}
.AnimeDropdown a{
    color: white;
    text-decoration: none;
}
.AnimeDropdown a:hover{
    opacity: 0.5;
}
.MangaDropdown a{
    color: white;
    text-decoration: none;
}
.MangaDropdown a:hover{
    opacity: 0.5;
}
.AnimeButton, .MangaButton{
    height: 100%;
    width: 130px;
    background-color: #2a2f73;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.AnimeButton:hover, .MangaButton:hover{
    opacity: 0.5;
}


.MangaDropdownDiv:hover .MangaDropdown{
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.AnimeDropdownDiv:hover .AnimeDropdown{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}