body{
    background-color: #171945;
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
}

#container{
    min-width: 1520px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
p{
    color: white;
}
#searchSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 70%;
}
#searchSection div{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 25px;
    border: solid 1px white;
    border-radius: 5px;
    padding: 3px;
    margin: 0 10px;
    background-color: white;
}
#indexSearchBar{
    background-color: white;
    color: black;
    border: none;
    outline: none;
}
#indexSearch{
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#indexSearch img{
    width: 16px;
    height: 16px;
    filter: invert(100%);
}
#searchSection select{
    width: 100px;
    height: 35px;
    display: flex;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
}
section:not(:first-child) img:not(#click){
    border-radius: 10px;
    size: 100%;
    object-fit: cover;
    width: 120px;
    height: 180px;
    transition: transform .5s;
}
section:not(:first-child) img:hover{
    transform: scale(1.1);

}
#container > section:not(:first-child){
    width: 70%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-evenly;
}
#container > section:not(:first-child) > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.optionContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    margin-top: 10px;
}
.optionContainer img{
    margin-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
}
.optionContainer p{
    margin-top: 3px;
    width: 100%;
}
.optionContainer a{
    max-height: 190px;
    height: auto;
    width: auto;
}
#container > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}