body{
    background-color: #171945;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
#site{
    margin-top: 80px;
    width: 100%;
    min-height: 100%;
    margin-bottom: 100px;
}
#titleDiv{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 10px auto;
    width: 80%;
}
#titleDiv > *{
    font-size: 24px;
    margin: 5px 20px;
    width: 40%;
    display: flex;
    justify-content: left;
}
#titleDiv > :not(:first-child){
    font-size: 20px;
    color: rgb(150, 150, 150);
}
#infoDiv{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
#imageDiv{
    display: flex;
    flex: 1;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
#imageDiv > img{
    width: 100%;
    border-radius: 10px;
}
#detailsDiv{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    border: none;
}
#synopsisDiv{
    flex: 2;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}
#detailsDiv > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-bottom: 20px;
}


#detailsDiv > div:first-child > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
}
#detailsDiv > div:first-child > div *{
    margin: 2px;
}